#box1{
    float:left;
    width: 32%;
    padding: 3%;
    margin-top: 3%;
    font-size: 15px;
}
@media screen and (max-width: 960px){
    #box1{
        float: none;
        width: 100%;
        text-align: center;
    }
}