h2{
    text-align: center;
    padding: 50px;
}
#redhead{
    color: red;
}
#text{
    font-size: 0.95rem;
}
#card{
    width: 32%;
    float: left;
    padding: 5%
}
#pbox{
    height: 7rem;
}
.tech{
    padding: 20%;
}
#img3{
    padding: 5%;
}
@media screen and (max-width: 960px){
    #card{
        float: none;
        width: 100%;
        text-align: center;
    }
}